body
{
    background-color: lightblue;
}
h2
{
  text-align: center;
}
#harvestdata
{
    position: relative;
    top: 175px;
}
#harvestdata2
{
    position: relative;
    top: 100px;
}
.col-sm-5
{
    position: relative;
    top: 25px;
}
#chosentable>table
{
    position: relative;
    top: 280px;
}
#chosentable2>table
{
    position: relative;
    top: 280px;
}
#chosengraph2, #chosengraph
{
    position: relative;
    top: 150px;
}
.col-sm-5 > div:nth-of-type(2)
{
    position: relative;
    top: 40px;
}
#chosen > div
{
    position: relative;
    bottom: 38px;
}
#chosen2
{
    position: relative;
    top: 175px;
}
#bgchangecolor
{
    position: relative;
    left: 90%;
}